<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="..\static\css\main.css">
	<title>Calculator</title>
</head>
<body>
	<div class="itemCenter">
		<div id="calculator">
			<div id="interface" class="itemRight">
				<input type="text" class="txt" disabled>
			</div>
			<div id="numButton">
				<div class="itemCenter">
					<input type="button" class="clearBtn flex sign" value="AC">
					<input type="button" class="clearBtn flex sign" value="DEL">
					<input type="button" class="btn flexBlock" value="">
					<input type="button" class="btn flex sign" value="÷">
				</div>
				<div class="itemCenter">
					<input type="button" class="btn flex" value="7">
					<input type="button" class="btn flex" value="8">
					<input type="button" class="btn flex" value="9">
					<input type="button" class="btn flex sign" value="×">
				</div>
				<div class="itemCenter">
					<input type="button" class="btn flex" value="4">
					<input type="button" class="btn flex" value="5">
					<input type="button" class="btn flex" value="6">
					<input type="button" class="btn flex sign" value="-">
				</div>
				<div class="itemCenter">
					<input type="button" class="btn flex" value="1">
					<input type="button" class="btn flex" value="2">
					<input type="button" class="btn flex" value="3">
					<input type="button" class="btn flex sign" value="+">
				</div>
				<div class="itemCenter">
					<input type="button" class="btn flex" value=".">
					<input type="button" class="btn flex" value="0">
					<input type="button" class="btn flexBlock" value="">
					<input type="button" class="btn flex sign" value="=">
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="..\static\js\main.js"></script>
</body>
</html>